<div class="pull-left span5">
<h1>About this project</h1>

<p>This is an ongoing photo project / social experiment that plays with our preconceptions of others. </p>

<p>I bumble around the busy streets of London imagining what all these people wearing headphones are listening to. Then I go and ask them what's playing in their headphones and compare their answers with my own honest initial thoughts. </p>

<p>The idea is to exhibit these portraits and ask YOU what you all think what these people are listening to and then we can see what we all really think about each other. </p>

<p>I'm usually completely wrong. I'm not attempting to prove or disprove stereotypes, and I'm not making fun of anyone. </p>

<p>It's just an experiment. Have a go at guessing yourself.</p>

<p>If you'd like to find out more or get involved, please email <a href="mailto:auralsets@gmail.com" target="_blank" >auralsets@gmail.com</a></p>

</div>