<h1>Aural Sets</h1>

<div id="masonry-container" class="transitions-enabled centered clearfix masonry">

  <% @photos.each do |photo| %>
    <div class="box col3 text-center">

      <p>
         <%= link_to image_tag(photo.image_url()), photo %> 
      </p>
        <div class="text-center">
          <span class="label label-info">
            <%= pluralize(photo.guesses.length, 'Guess') %>
          </span>
          <span class="label label-success">
            <i class="icon icon-white icon-ok"></i> <%= pluralize(photo.guesses.where(:correct =>  true).length, '') %>
          </span>
          <span class="label label-warning">
            <i class="icon icon-white icon-remove"></i> <%= pluralize(photo.guesses.where(:correct =>  false).length, '') %>
          </span>
        </div>
        
    </div>
  <% end %>
</div>

<style type="text/css">

.lab {
  background: grey;
  color: white;
  padding: 2px 5px;
  margin: 2px;
}

h1 {
  text-align: center;
}

.box h2 {
  font-size: 24px !important;
}
.box {
  background: white;
 border-radius: 0px;
 /*border: 1px solid #fff;*/
}

.box:hover {
  box-shadow: 10px 10px 5px #eee;
  /*border: 1px solid #ddd;*/
}

</style>


<script type="text/javascript">

 $('img').load(function(){
            $('#masonry-container').masonry();
        });

$(function(){  
  $('#masonry-container').masonry({
    itemSelector: '.box',
    columnWidth: 300,
    gutter: 50,
    // isAnimated: !Modernizr.csstransitions,
    isFitWidth: true
  });

});

</script>


