<h1>Aural Sets</h1>

<div id="masonry-container" class="transitions-enabled centered infinite-scroll clearfix masonry">
  <div class="page">
    <%= render @photos %>
  </div>

</div>

<div id="paginator">
  <%= paginate @photos %>
</div>



<style type="text/css">


#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.lab {
  background: grey;
  color: white;
  padding: 2px 5px;
  margin: 2px;
}

h1 {
  text-align: center;
}

.box h2 {
  font-size: 24px !important;
}
.box {
  background: white;
 border-radius: 0px;
 /*border: 1px solid #fff;*/
}

.box:hover {
  box-shadow: 10px 10px 5px #eee;
  /*border: 1px solid #ddd;*/
}

</style>


<script type="text/javascript">



$(function(){  

  var $container = $('#masonry-container');

  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector: '.box',
      columnWidth: 300,
      gutter: 50,
      // isAnimated: !Modernizr.csstransitions,
      isFitWidth: true
    });
  });


  $container.infinitescroll({
    navSelector  : 'nav.pagination',    // selector for the paged navigation 
    nextSelector : 'nav.pagination a',  // selector for the NEXT link (to page 2)
    itemSelector : '.box',     // selector for all items you'll retrieve
    loading: {
        finishedMsg: 'No more pages to load.',
        img: 'http://i.imgur.com/6RMhx.gif'
      }
    },
    // trigger Masonry as a callback
    function( newElements ) {
      // hide new items while they are loading
      var $newElems = $( newElements ).css({ opacity: 0 });
      // ensure that images load before adding to masonry layout


      $newElems.imagesLoaded(function(){
        // show elems now they're ready
        $newElems.animate({ opacity: 1 });
        $container.masonry( 'appended', $newElems, true ); 

      });
    }
  );




});



</script>


