<h1>Headphone Headshots</h1>

<div id="masonry-container" class="transitions-enabled centered clearfix masonry">

  <% @posts.each do |post| %>
    <div class="box col3">
      <h2><%= link_to post.title, post %></h2>
      <p>
         <%= link_to image_tag(post.image_url()), post %> 
         <p>
          <%= truncate(post.copy) %>
        </p>
        <p class="pull-right">
          <%= post.guesses.length %> guesses.
        </p>

      </p>
    </div>
  <% end %>
</div>

<style type="text/css">

h1 {
  text-align: center;
}

.box h2 {
  font-size: 36px !important;
}

</style>


<script type="text/javascript">
  
$('.dropdown-toggle').dropdown(); 

 $('img').load(function(){
            $('#masonry-container').masonry();
        });

$(function(){  
  $('#masonry-container').masonry({
    itemSelector: '.box',
    columnWidth: 300,
    gutter: 50,
    // isAnimated: !Modernizr.csstransitions,
    isFitWidth: true
  });

});

</script>

